{
  "extends": "@istanbuljs/nyc-config-babel",
  "all": true,
  "include": [
    "src/**/*.js"
  ],
  "exclude": [
    "src/**/*.test.js",
    "src/tests/**/*.js",
    "src/config/**/*.js"
  ],
  "reporter": [
    "text",
    "text-summary",
    "html"
  ],
  "report-dir": "coverage"
} 